  :root{
      --primary-color: #c98300; /*#bc6c25;*/
      --secondary-color: #283618; /*rgb(7, 80, 49);*/
      --background-color: #ff9f1c;

      --text-light-color: #fefae0;
      --text-dark-color: #283618;
  }


  html{
      font-family: sans-serif;
      scroll-behavior: smooth;
      background-image: url("Cheese.jpg");
      background-color: var(--background-color);

      font-family: "Yusei Magic", sans-serif;
      font-weight: 400;
      font-style: normal;

    }

    
    /*
  *{
    border: 2px solid black;
  }
  */

  #about{
    margin: auto auto;
    width: 80vw;
    text-align: center;
    color: var(--text-dark-color);
  }
  #about p{
    font-size: 20px;
  }

  @keyframes scroll {
    0%, 10%{
      transform: translateX(0);
    }
    47.50%, 52.50%{
      /*  TODO: parent container width*/
      transform: translateX(-28vw);
    } 90%, 100% {
        transform: translateX(0);
    }
  }  

  .scroll-container {
      background-color: var(--primary-color);
      overflow: hidden;
      white-space: nowrap;
      padding: 10px;
      margin: auto auto;
      width: 70vw;
      display: flex;
      align-items: center;
      justify-items: center;
      border-radius: 15px;
  }
    
  .scroll-container img {
      width: 200px;
      padding: 10px;
      /*TODO: should scroll to end of imgs, pause for 8sec, then reverse*/
      animation: scroll 25s linear infinite;
      opacity: 0.8; 
      cursor: pointer; 
      border-radius: 15px;
  }

  .scroll-container img:hover {
    opacity: 1;
  }

  #expanding-img-container{
    width: 800px;
    margin: 50px auto 100px auto;
    padding: 10px 10px 100px 10px; 
    position: relative;
    display: none;
    background-color: var(--background-color);
    border-radius: 15px;
    max-width: 90vw;
  }

  #expandedImg{
    border-radius: 15px;
    color: var(--background-color);
  }


  /* Expanding image info Box */
  #imgInfo{
    position: absolute;
    bottom: 15px;
    left: 15px;
    color: white;
    font-size: 20px;
    display: flex;
    width: 82%;
  }

  #imgIcon{
    width: 80px;
    height: 80px;
    border-radius: 50%;
  }

  #textBox{
    color: black;
    display: flex;
    width: 100%;
    height: 100%;
    margin: auto 20px;
    flex-direction: column;
    align-content: space-between;
    font-family: sans-serif;
  }

  #imgText {
    width: 100%;
    height: 30%;
    font-weight: bold;
  }

  #imgSubtitle, #imgLastText{
    width: 60%;
    height: 30%;
  }
  
  /* Closable button inside the image */
  .closebtn {
    position: absolute;
    top: 10px;
    right: 15px;
    color: white;
    font-size: 35px;
    cursor: pointer;
  }

  #contact{
    background-color: var(--secondary-color);
    width: 100%;
    height: 100px;
    text-align: center;
    position: fixed;
    left: 0;
    bottom: 0;
    color: var(--text-light-color);
    opacity: 90%;
  }

  #contact a{
    margin: auto auto;
    display: inline-block;
    color: var(--text-light-color);
    padding: 0 30px 0 30px;
  }